<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.routermanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RouterManagerApplication"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:label="RouterManager"
        android:supportsRtl="true"
        android:theme="@style/Theme.RouterManager"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="24">
        <activity android:name=".SetupActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".SpeedTestActivity" android:exported="true" />
    </application>

</manifest>
